@import "tailwindcss";

/* Background */
body {
  background: #f7f7f8;
  color: #0f172a;
}

/* Scrollbar (futuristic minimal) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.glow {
  box-shadow: 0 0 15px rgba(139, 92, 246, 0.6);
}
