@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
}

/* Scrollbar (futuristic minimal) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
}

.glow {
  box-shadow: 0 0 15px rgba(139, 92, 246, 0.6);
}
